.bridge {
  border: 2px solid rgba(255, 57, 223, 0.35);
  border-radius: 10px;
  background-image: url('../images/bridge-bg.jpg');
  background-position: left;
  background-size: cover;
  margin-top: 100px;
  padding: 0 25px 60px;

  @include for-tablet {
    margin-bottom: 30px;
  }
}

.bridge__samurai {
  margin: 0 auto;
  margin-top: -120px;
  margin-bottom: -50px;

  @include for-tablet {
    margin-bottom: -120px;
  }
}

.bridge__text {
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
  line-height: 1.61;

  @include for-tablet {
    font-size: 14px;
    margin-bottom: 27px;
  }
}

.bridge__text-hl {
  display: flex;
  align-items: center;
  height: 1.61em;
  line-height: 1.61;
  justify-content: center;

  &::before,
  &::after {
    content: '';
    height: 100%;
    flex: 1;
    background-repeat: no-repeat;
  }

  &::before {
    text-align: right;
    background-image: url('../images/bridge-left-lines.png');
    background-position: right;
  }

  &::after {
    background-image: url('../images/bridge-right-lines.png');
    background-position: left;
  }
}

.bridge__go-to {
  display: grid;
  grid-template-areas:
    'btn btn'
    'eth bsc';
  gap: 14px 40px;

  @include for-tablet {
    grid-template-areas: 'eth btn bsc';
    gap: 0 6px;
    grid-auto-columns: 1fr max-content 1fr;
  }
}

.btn-arrows {
  grid-area: btn;
}

.bridge__coins {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bridge__coin {
  display: flex;
  align-items: center;
  color: $accent-cl;
}

.bridge__coin--eth {
  grid-area: eth;
  align-items: left;
  justify-content: end;
}

.bridge__coin--bsc {
  grid-area: bsc;
  display: flex;

  @include for-tablet {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 15px;
  }
}

.bridge__coin-name {
  margin-right: 11px;
}
