.hero {
  position: relative;
  background-image: linear-gradient(0.25turn, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 80%),
    url('../images/header-bg.png');
  background-size: cover;
  background-position: center;
  padding: 20px 20px 135px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10px;
    background-image: url('../images/line-mob.png');
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(50%);

    @include for-tablet {
      background-image: none;
    }

    @include for-desktop {
      background-image: url('../images/line-pc.png');
      height: 20px;
    }
  }

  @include for-tablet {
    padding: 18px 23px 75px;
  }
}

.hero__section {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title-wrap {
  margin: 0;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 168, 0, 0.3) 28.65%,
      rgba(0, 38, 112, 0) 100%
    ),
    radial-gradient(50% 50% at 50% 50%, rgba(255, 168, 0, 0.3) 28.65%, rgba(0, 38, 112, 0) 100%);
}

.hero__title-mob {
  @include for-tablet {
    display: none;
  }
}

.hero__title-tablet {
  display: none;
  margin: 0 auto;

  @include for-tablet {
    display: block;
  }
}

.hero__text {
  margin: 0;
  line-height: 1.4;
  font-size: 18px;

  @include for-tablet {
    text-align: center;
    font-size: 14px;
    max-width: 580px;
    margin: 0 auto;
  }

  @include for-desktop {
    font-size: 24px;
    max-width: 988px;
  }
}

.hero__socials {
  display: none;
  width: 100%;

  @include for-tablet {
    display: block;
  }
}

.hero__social-list {
  @extend %list-reset;
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 24px;

  @include for-tablet {
    // justify-content: flex-end;
  }
}

.hero__social-item {
  position: relative;
  width: fit-content;
  background: linear-gradient(
    218.53deg,
    rgba(69, 246, 201, 0.8) 14.36%,
    rgba(76, 200, 239, 0.8) 94.26%
  );

  transform: rotate(45deg);

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      218.53deg,
      rgba(200, 255, 241, 0.85) 14.36%,
      rgba(161, 130, 250, 0.85) 94.26%
    );
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.85), 0px 0px 15px rgba(15, 3, 50, 0.8);

    @include for-tablet {
      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.85), 0px 0px 15px rgba(15, 3, 50, 0.8);
    }
  }

  &:hover,
  &:focus {
    background: linear-gradient(218.53deg, rgba(241, 188, 56, 0.8), rgba(238, 122, 48, 0.8));

    &::before {
      background: linear-gradient(
        218.53deg,
        rgba(252, 218, 97, 0.85) 14.36%,
        rgba(236, 93, 48, 0.85) 94.26%
      );

      box-shadow: 0px 0px 15px rgba(252, 218, 97, 0.85);

      @include for-tablet {
        box-shadow: 0px 0px 5px rgba(252, 218, 97, 0.85);
      }
    }
  }
}

.hero__social-link {
  @extend %link-reset;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  @include for-tablet {
    width: 20px;
    height: 20px;
  }
}

.hero__social-icon {
  display: block;
  width: 30px;

  transform: rotate(-45deg);

  @include for-tablet {
    width: 11px;
  }
}
