.install {
  margin-bottom: 33px;

  @include for-desktop {
    margin-bottom: 150px;
  }
}

.install__container {
  padding: 35px 15px 19px;
  background-image: url('../images/install-section-mob-bg.jpg');
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 2px solid #ff983959;

  @include for-tablet {
    padding: 40px 50px 12px;

    background-image: url('../images/install-section-bg.jpg');
  }

  @include for-tablet {
    padding: 75px 85px 48px;

    background-image: url('../images/install-section-bg.jpg');
  }
}

.install__title {
  font-size: 18px;
  margin: 0 0 49px 0;

  @include for-tablet {
    margin: 0 0 43px;
  }

  @include for-tablet {
    margin: 0 0 80px;
  }
}

.install__title-text {
  &.install__title-text--top {
    margin-bottom: 15px;
  }

  @include for-tablet {
    &.install__title-text--top {
      margin-bottom: 5px;

      color: #ffb951;
    }

    &.install__title-text--bottom {
      color: #ff4550;
    }
  }
}

.install__title-img {
  margin-bottom: 15px;

  & img {
    transform: translateX(-10px);
  }

  @include for-tablet {
    margin-bottom: 5px;

    & img {
      width: 400px;
    }
  }

  @include for-desktop {
    & img {
      width: 755px;
    }
  }
}

.install__subtitle {
  color: #ffb800;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 69px;

  @include for-tablet {
    font-size: 12px;
    margin-bottom: 13px;
  }

  @include for-desktop {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.install__subtitle-hl {
  display: block;
  background-color: rgba(255, 184, 0, 0.7);
  color: #ffffff;
  padding: 5px 10px;
  margin-left: -10px;
  width: fit-content;
}

.download-wrap {
  display: flex;
  margin-bottom: 17px;

  @include for-desktop {
    margin-bottom: 29px;
  }
}

.btn-download {
  padding: 0;
  margin-right: 14px;
  max-width: 264px;
  background-color: #dc0150;
  color: #ffffff;
  padding: 12px 20px;

  @include for-tablet {
    font-size: 12px;
    padding: 6px 11px;
  }

  @include for-desktop {
    font-size: 28px;
  }
}

.icon-btn-download {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc0150;
  width: 50px;
  aspect-ratio: 1 / 1;

  @include for-tablet {
    width: 27px;
  }

  @include for-desktop {
    width: 50px;
  }
}

.icon-btn__icon {
  width: 27px;

  @include for-tablet {
    width: 15px;
  }

  @include for-desktop {
    width: 27px;
  }
}

.install__info {
  margin: 0;
  font-family: 'basis33', monospace;
  font-size: 24px;

  @include for-tablet {
    max-width: 245px;
    font-size: 12px;
  }

  @include for-desktop {
    max-width: 460px;
    font-size: 18px;
  }
}
