.how-join__section {
  padding-top: 26px;
}

.how-join__logo-wrap {
  padding: 22px 28px;
  background: rgba(22, 8, 68, 1);
  border: 2px solid rgba(133, 240, 255, 0.35);
  border-radius: 10px;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 24px;
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(133, 240, 255, 0.25) 0px 2px,
      transparent 2px 7px
    );
  }
  &:before {
    margin-bottom: 7px;
  }

  &:after {
    margin-top: 7px;
  }
}

.how-join__logo {
  width: 100%;

  @include for-tablet {
    width: 340px;
  }

  @include for-desktop {
    width: 640px;
  }
}

.how-join__title-wrap {
  position: relative;
  display: none;
  margin-bottom: 35px;

  border-radius: 8px;

  @include for-tablet {
    display: block;
  }
}

.how-join__title-img {
  display: flex;
  text-align: center;

  &::before,
  &::after {
    content: '';
    flex: 1;
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(133, 240, 255, 0.25) 0px 2px,
      transparent 2px 7px
    );

    @include for-tablet {
      background-image: repeating-linear-gradient(
        to bottom,
        rgba(133, 240, 255, 0.25) 0px 1px,
        transparent 1px 4px
      );
    }
  }

  &::before {
    margin-right: 19px;
  }

  &::after {
    margin-left: 19px;
  }
}

.how-join__title-text {
  white-space: nowrap;
  position: absolute;
  margin: 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 30px;
  color: $title-cl;
  border: 1px solid rgba(57, 231, 255, 0.35);
  background-color: rgba(22, 8, 68, 1);

  font-size: 14px;
  line-height: 1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 4px;
    height: calc(100% / 1.41421356237);
    aspect-ratio: 1 / 1;
    background: rgba(22, 8, 68, 1);
  }

  &::before {
    left: -1px;
    border-left: 1px solid rgba(57, 231, 255, 0.35);
    border-top: 1px solid rgba(57, 231, 255, 0.35);
    transform: translate(-50%, 0) rotate(-45deg);
  }

  &::after {
    right: -1px;
    border-right: 1px solid rgba(57, 231, 255, 0.35);
    border-bottom: 1px solid rgba(57, 231, 255, 0.35);
    transform: translate(50%, 0) rotate(-45deg);
  }

  @include for-desktop {
    font-size: 24px;
  }
}

.how-join__info {
  padding: 21px;
  background-color: rgba(178, 13, 174, 0.2);
  border: 2px solid rgba(57, 231, 255, 0.35);
  border-radius: 10px;
}
.how-join__info-title {
  display: flex;
  color: $title-cl;
  text-align: center;
  margin: 0 0 29px;
  padding: 7px 0;

  &::before,
  &::after {
    content: '';
    flex: 1;
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(133, 240, 255, 0.25) 0px 2px,
      transparent 2px 7px
    );

    @include for-tablet {
      background-image: repeating-linear-gradient(
        to bottom,
        rgba(133, 240, 255, 0.25) 0px 1px,
        transparent 1px 4px
      );
    }
  }

  &::before {
    margin-right: 10px;

    @include for-tablet {
      margin-right: 45px;
    }
  }

  &::after {
    margin-left: 10px;

    @include for-tablet {
      margin-left: 45px;
    }
  }

  @include for-tablet {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 24px;
  }
}

.how-join__title-wrap {
  padding: 22px 24px;
  background: rgba(22, 7, 67, 0.1);

  border: 1px solid rgba(57, 231, 255, 0.35);
}

.join-info-text {
  text-align: center;
  font-family: 'basis33';
}
