.map__wrap {
  padding-top: 25px;

  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  @include for-tablet {
    padding-top: 100px;
  }
  @include for-desktop {
    padding-top: 75px;
  }
}

.map__image-wrap {
  position: relative;
  transform-origin: top left;

  transition: transform ease 250ms;
}

.map__img {
  width: 100%;
}

.map__nav-btns {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include for-tablet {
    justify-content: end;
  }
}

.map__nav-btn {
  @extend %btn-reset;

  position: relative;
  z-index: 2;
  width: 42px;
  height: 42px;
  font-size: 24px;
  color: #85f0ff;
  cursor: pointer;

  border: 2px solid #39e7ff59;
  border-radius: 15px;

  &:not(:last-child) {
    margin-right: 12px;
  }

  @include for-tablet {
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  @include for-desktop {
    width: 42px;
    height: 42px;
    font-size: 24px;
    border-radius: 15px;
  }
}

.delimiter.map__delimiter {
  display: block;

  @include for-tablet {
    margin-bottom: 0;
  }
}

.map__place {
  position: absolute;
  width: 15px;
  height: 20px;
  background-image: url('../images/map/point.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateY(-100%);

  transition: transform ease 250ms;

  @include for-tablet {
    width: 48px;
    height: 68px;
  }

  &.active {
    background-image: url('../images/map/point-active.svg');
    z-index: 2;

    &::after {
      content: attr(data-country-name);
      white-space: nowrap;
      position: relative;
      display: block;
      top: -100%;
      left: 100%;
      width: fit-content;
      color: $title-cl;
      border-bottom: 2px solid rgba(57, 231, 255, 0.35);
      padding: 0 6px 6px 0;
      font-size: 12px;

      @include for-tablet {
        font-size: 24px;
        padding: 0 12px 12px 0;
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 50%;
      width: 2px;
      height: 119%;
      background-color: rgba(57, 231, 255, 0.35);
      transform-origin: right bottom;
      z-index: -1;
      transform: rotate(20deg);

      @include for-tablet {
        height: 150%;
        transform: rotate(14deg);
      }
    }

    &.active--left::after {
      top: -100%;
      right: 100%;
      left: 0;
      transform: translateX(-100%);
    }

    &.active--left::before {
      transform: rotate(-17deg);
      @include for-tablet {
        transform: rotate(-13deg);
      }
    }
  }
}

.map__list-wrap {
  margin-bottom: 28px;
  padding: 11px 25px;
  border: 1px solid rgba(57, 231, 255, 0.35);
  border-radius: 8px;
  background: rgba(22, 7, 67, 0.1);
  display: none;

  font-size: 12px;

  @include for-tablet {
    display: block;
  }

  @include for-desktop {
    padding-left: 100px;
    padding-bottom: 38px;
    margin-bottom: 45px;
    font-size: 18px;
  }
}

.map__list {
  @extend %list-reset;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: column;
}

.map__list-item {
  &.active {
    color: $accent-cl;
  }
}
