@font-face {
  font-family: 'Zig';
  font-weight: 400;
  src: url('../fonts/Zig.ttf');
}
@font-face {
  font-family: 'Outrun future';
  font-weight: 400;
  src: url('../fonts/Outrun_future.otf');
}
@font-face {
  font-family: 'AddCityboy';
  font-weight: 400;
  src: url('../fonts/ADDCN.TTF');
}
@font-face {
  font-family: 'basis33';
  font-weight: 400;
  src: url('../fonts/basis33.TTF');
}
