<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Disbalancer</title>
  </head>

  <body>
    <div class="hero">
      <header class="header">
        <div class="header__logo">
          <a href="https://disbalancer.com/">
            <img src="<%= require('./images/logo-mob.svg') %>" />
          </a>
        </div>
        <div class="header__mob-menu-btn">
          <button type="button" class="icon-btn" data-toggle-menu>
            <img src="<%= require('./images/icons/mob-menu.svg') %>" alt="Menu icon" />
          </button>
        </div>
        <div class="header__tablet-nav">
          <button class="btn header__btn" type="button">Login</button>
          <button type="button" class="icon-btn icon-btn--text" data-toggle-menu>
            Menu
            <img src="<%= require('./images/icons/tablet-menu.svg') %>" alt="Menu icon" />
          </button>
        </div>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#for-army" class="header__nav-link">Home</a>
            </li>
            <li class="header__nav-item">
              <a href="#for-army" class="header__nav-link">For Army</a>
            </li>
            <li class="header__nav-item">
              <a href="#buy" class="header__nav-link">Buy Token</a>
            </li>
            <li class="header__nav-item">
              <a href="#bridge" class="header__nav-link">Bridge</a>
            </li>
            <li class="header__nav-item">
              <a href="#install" class="header__nav-link">Download</a>
            </li>
          </ul>
        </nav>
        <button class="btn header__btn header__btn--desktop" type="button">Login</button>
        <div class="mob-nav">
          <button class="icon-btn mob-nav__icon-btn" data-toggle-menu>Close</button>
          <nav class="mob-nav__wrap">
            <ul class="mob-nav__list">
              <li class="mob-nav__item">
                <a href="#for-army" class="mob-nav__link">Home</a>
              </li>
              <li class="mob-nav__item">
                <a href="#for-army" class="mob-nav__link">For Army</a>
              </li>
              <li class="mob-nav__item">
                <a href="#buy" class="mob-nav__link">Buy Token</a>
              </li>
              <li class="mob-nav__item">
                <a href="#bridge" class="mob-nav__link">Bridge</a>
              </li>
              <li class="mob-nav__item">
                <a href="#install" class="mob-nav__link">Download</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="hero__socials">
        <ul class="hero__social-list">
          <li class="hero__social-item">
            <a target="_blank" href="https://t.me/disbalancer_group" class="hero__social-link">
              <img
                src="<%= require('./images/icons/socials/telegram.svg') %>"
                alt="Telegram logo"
                class="hero__social-icon"
              />
            </a>
          </li>
          <li class="hero__social-item">
            <a target="_blank" href="mailto:contact@disbalancer.com" class="hero__social-link">
              <img
                src="<%= require('./images/icons/socials/mail.svg') %>"
                alt="Mail icon"
                class="hero__social-icon"
              />
            </a>
          </li>
          <li class="hero__social-item">
            <a
              target="_blank"
              href="https://www.reddit.com/r/disbalancer/"
              class="hero__social-link"
            >
              <img
                src="<%= require('./images/icons/socials/reddit.svg') %>"
                alt="Reddit logo"
                class="hero__social-icon"
              />
            </a>
          </li>
          <li class="hero__social-item">
            <a target="_blank" href="https://github.com/thedisbalancer" class="hero__social-link">
              <img
                src="<%= require('./images/icons/socials/github.svg') %>"
                alt="Github logo"
                class="hero__social-icon"
              />
            </a>
          </li>
          <li class="hero__social-item">
            <a target="_blank" href="https://twitter.com/thedisbalancer" class="hero__social-link">
              <img
                src="<%= require('./images/icons/socials/twitter.svg') %>"
                alt="Twitter logo"
                class="hero__social-icon"
              />
            </a>
          </li>
          <li class="hero__social-item">
            <a
              target="_blank"
              href="https://www.coingecko.com/en/coins/disbalancer"
              class="hero__social-link"
            >
              <img
                src="<%= require('./images/icons/socials/coingecko.svg') %>"
                alt="Coingeco logo"
                class="hero__social-icon"
              />
            </a>
          </li>
        </ul>
      </div>
      <section id="for-army" class="section hero__section">
        <h1 class="visually-hidden">Join the mostpowerful cyber army ever</h1>
        <div class="hero__title-wrap">
          <img
            src="<%= require('./images/hero-title.png') %>"
            alt="Join the mostpowerful cyber army ever"
            class="hero__title-mob"
            aria-label="Join the mostpowerful cyber army ever"
          />
          <img
            src="<%= require('./images/hero-title-tablet.png') %>"
            alt="Join the mostpowerful cyber army ever"
            class="hero__title-tablet"
            aria-label="Join the mostpowerful cyber army ever"
          />
        </div>
        <p class="hero__text">
          Earn DDoS tokens by allowing your device to work on a global mission — making the world a
          safer place
        </p>
        <div class="btn-arrows">
          <a
            target="_blank"
            href="https://docs.google.com/forms/d/e/1FAIpQLSfUIUigF-LwXXjfDoOfPp2dBq0mChvcbeHIDcP23gf8aok0vA/viewform"
            class="btn"
            >join army</a
          >
        </div>
      </section>
    </div>
    <main class="main">
      <section id="join" class="section how-join__section">
        <div class="how-join__logo-wrap mob-only">
          <img
            src="<%= require('./images/logo-mob.svg') %>"
            alt="Disbalancer logo"
            class="how-join__logo"
          />
        </div>
        <div class="container">
          <h2 class="section__title mob-only">
            how to join the <br />
            cyber army
          </h2>
          <div class="how-join__title-wrap">
            <div class="how-join__title-img">
              <img
                src="<%= require('./images/logo-blue.svg') %>"
                alt="Disbalancer logo"
                class="how-join__logo"
              />
            </div>
            <h2 class="how-join__title-text">how to join the cyber army</h2>
          </div>
          <p class="section__text">
            There are many applications submitted. We are making the main focus on the geographic
            location of your node. As of now, our samurais are representing the following countries:
          </p>
          <div class="btn-arrows">
            <a
              target="_blank"
              href="https://docs.google.com/forms/d/e/1FAIpQLSfUIUigF-LwXXjfDoOfPp2dBq0mChvcbeHIDcP23gf8aok0vA/viewform"
              class="btn"
              >Fill out the form</a
            >
          </div>

          <div class="map">
            <div class="delimiter map__delimiter"></div>
            <div class="map__nav-btns">
              <button class="map__nav-btn" type="button" id="plus">+</button>
              <button class="map__nav-btn" type="button" id="minus">-</button>
            </div>
            <div class="map__wrap">
              <div class="map__image-wrap">
                <img src="<%= require('./images/map/map.svg') %>" alt="Map" class="map__img" />
              </div>
            </div>
            <div class="map__list-wrap">
              <ul class="map__list"></ul>
            </div>
          </div>
          <div class="how-join__info">
            <h3 class="how-join__info-title mob-only">
              how to join the <br />
              cyber army
            </h3>
            <h3 class="how-join__info-title tablet-show-flex">
              Haven’t found your <br />
              country in this list?
            </h3>
            <p class="section__text">
              That’s great for you! You have a high chance to join our army during the next
              mobilization.
            </p>

            <p class="section__text">
              If you live in one of the countries mentioned above, don’t worry. We are interested in
              generating a strong computing power and high-speed Internet. We appreciate the
              following 2 characteristics of our future samurais: your ability to stay online and
              your belief in our product (DDOS tokens are among your favourite virtual assets? Then
              your chances are high)
            </p>
          </div>
        </div>
      </section>

      <div class="delimiter" id="bridge"></div>

      <section class="section">
        <h2 class="visually-hidden">Disbalancer bridge</h2>
        <div class="container">
          <div class="bridge">
            <img
              src="<%= require('./images/samurai.png') %>"
              alt="Samurai"
              class="bridge__samurai mob-only"
            />
            <img
              src="<%= require('./images/samurai-tablet.png') %>"
              alt="Samurai"
              class="bridge__samurai tablet-show-block"
            />
            <div class="container">
              <div class="bridge__text">
                <span class="bridge__text-hl">Connect</span>
                your crypto wallet <br />
                and start earning
              </div>
              <div class="bridge__go-to">
                <div class="btn-arrows btn-arrows--red">
                  <a
                    target="_blank"
                    href="https://bridge.disbalancer.com/"
                    class="btn btn--action btn-bridge"
                    >go to bridge</a
                  >
                </div>
                <div class="bridge__coin bridge__coin--eth">
                  <span class="bridge__coin-name">Ethereum</span
                  ><img
                    src="<%= require('./images/eth-logo.svg') %>"
                    alt="Ethereum logo"
                    class="coin-logo"
                  />
                </div>
                <div class="bridge__coin bridge__coin--bsc">
                  <span class="bridge__coin-name">BSC</span
                  ><img
                    src="<%= require('./images/bsc-logo.svg') %>"
                    alt="BSC logo"
                    class="coin-logo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="delimiter" id="buy"></div>

      <section class="section">
        <h2 class="visually-hidden">Buy coin</h2>
        <div class="container">
          <div class="buy-table__wrap">
            <table class="buy-table">
              <tr>
                <th class="buy-table__head-cell">
                  <div class="buy-table__head-text-wrap">Echange</div>
                </th>
                <th class="buy-table__head-cell">
                  <div class="buy-table__head-text-wrap">Pairs</div>
                </th>
                <th class="buy-table__head-cell">
                  <div class="buy-table__head-text-wrap">Price</div>
                </th>
                <th class="buy-table__head-cell">
                  <div class="buy-table__head-text-wrap">Volume,%</div>
                </th>
              </tr>
              <tr>
                <td class="buy-table__body-cell">Gate.io</td>
                <td class="buy-table__body-cell">DDOS/USDT</td>
                <td class="buy-table__body-cell" id="ddos-usdt-price-gateio">?</td>
                <td class="buy-table__body-cell" id="ddos-usdt-vol-percentage-gateio">?</td>
                <td class="buy-table__body-cell">
                  <a
                    target="_blank"
                    href="https://www.gate.io/ru/trade/DDOS_USDT"
                    class="btn btn--table"
                    >Buy DDOS</a
                  >
                </td>
              </tr>
              <tr>
                <td class="buy-table__body-cell">Pancakeswap (V2)</td>
                <td class="buy-table__body-cell">DDOS/ETH</td>
                <td class="buy-table__body-cell" id="ddos-eth-price">?</td>
                <td class="buy-table__body-cell" id="ddos-eth-vol-percentage">?</td>
                <td class="buy-table__body-cell">
                  <a
                    target="_blank"
                    href="https://pancakeswap.finance/swap?inputCurrency=0x7fbec0bb6a7152e77c30d005b5d49cbc08a602c3&outputCurrency=0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c"
                    class="btn btn--table"
                    >Buy DDOS</a
                  >
                </td>
              </tr>
              <tr>
                <td class="buy-table__body-cell">uniswap (V2)</td>
                <td class="buy-table__body-cell">DDOS/USDT</td>
                <td class="buy-table__body-cell" id="ddos-usdt-price-uniswap">?</td>
                <td class="buy-table__body-cell" id="ddos-usdt-vol-percentage-uniswap">?</td>
                <td class="buy-table__body-cell">
                  <a
                    target="_blank"
                    href="https://app.uniswap.org/#/swap?inputCurrency=0x7fbec0bb6a7152e77c30d005b5d49cbc08a602c3&outputCurrency=ETH&chain=mainnet"
                    class="btn btn--table"
                    >Buy DDOS</a
                  >
                </td>
              </tr>
            </table>
            <div class="buy-table__scroll">Scroll</div>
          </div>
        </div>
      </section>

      <div class="delimiter" id="install"></div>

      <section class="section install">
        <h2 class="visually-hidden">Install Desbalancer on your device</h2>
        <div class="container install__container">
          <div class="install__title">
            <div class="install__title-text install__title-text--top">install</div>
            <div class="install__title-img">
              <img
                src="<%= require('./images/disbalancer-install-text.png') %>"
                alt="Disbalancer"
                class="mob-only"
                aria-label="Disbalancer"
              />
              <img
                src="<%= require('./images/disbalancer-install-text-big.png') %>"
                alt="Disbalancer"
                class="tablet-show-block"
                aria-label="Disbalancer"
              />
            </div>
            <div class="install__title-text install__title-text--bottom">on your device</div>
          </div>
          <p class="install__subtitle mob-only">
            and start <span class="install__subtitle-hl">earning</span> DDoS tokens <br />
            today!
          </p>
          <p class="install__subtitle tablet-show-block">
            and start
            <span class="install__subtitle-hl">earning DDoS tokens</span> today!
          </p>
          <div class="download-wrap">
            <button class="btn btn-action btn-download">Download</button>
            <button class="icon-btn icon-btn-download">
              <img
                src="<%= require('./images/icons/download-icon.svg') %>"
                alt="Download icon"
                class="icon-btn__icon"
              />
            </button>
          </div>
          <p class="install__info">
            Currently our application is available only to selected samurais. But the time when
            everyone will be able to use our application is fast approaching.
          </p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="footer__container container">
        <img
          src="<%= require('./images/logo-mob.svg') %>"
          alt="Disbalancer logo"
          class="footer__logo"
        />
        <div class="footer__nav">
          <ul class="footer__nav-list">
            <li class="footer__nav-item">
              <a target="_blank" href="https://disbalancer.com/services/" class="footer__nav-link"
                >For Bussiness</a
              >
            </li>
            <li class="footer__nav-item">
              <a href="#for-army" class="footer__nav-link">For Army</a>
            </li>
            <li class="footer__nav-item">
              <a target="_blank" href="https://bridge.disbalancer.com/" class="footer__nav-link"
                >Bridge</a
              >
            </li>
            <li class="footer__nav-item">
              <a target="_blank" href="https://disbalancer.com/about/" class="footer__nav-link"
                >About</a
              >
            </li>
            <li class="footer__nav-item">
              <a target="_blank" href="https://disbalancer.com/contact/" class="footer__nav-link"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
        <div class="footer__social">
          <ul class="footer__social-list">
            <li class="footer__social-item">
              <a target="_blank" href="https://t.me/disbalancer_group" class="footer__social-link">
                <img
                  src="<%= require('./images/icons/socials/telegram.svg') %>"
                  alt="Telegram logo"
                  class="footer__social-icon"
                />
              </a>
            </li>
            <li class="footer__social-item">
              <a target="_blank" href="mailto:contact@disbalancer.com" class="footer__social-link">
                <img
                  src="<%= require('./images/icons/socials/mail.svg') %>"
                  alt="Mail icon"
                  class="footer__social-icon"
                />
              </a>
            </li>
            <li class="footer__social-item">
              <a
                target="_blank"
                href="https://www.reddit.com/r/disbalancer/"
                class="footer__social-link"
              >
                <img
                  src="<%= require('./images/icons/socials/reddit.svg') %>"
                  alt="Reddit logo"
                  class="footer__social-icon"
                />
              </a>
            </li>
            <li class="footer__social-item">
              <a
                target="_blank"
                href="https://github.com/thedisbalancer"
                class="footer__social-link"
              >
                <img
                  src="<%= require('./images/icons/socials/github.svg') %>"
                  alt="Github logo"
                  class="footer__social-icon"
                />
              </a>
            </li>
            <li class="footer__social-item">
              <a
                target="_blank"
                href="https://twitter.com/thedisbalancer"
                class="footer__social-link"
              >
                <img
                  src="<%= require('./images/icons/socials/twitter.svg') %>"
                  alt="Twitter logo"
                  class="footer__social-icon"
                />
              </a>
            </li>
            <li class="footer__social-item">
              <a
                target="_blank"
                href="https://www.coingecko.com/en/coins/disbalancer"
                class="footer__social-link"
              >
                <img
                  src="<%= require('./images/icons/socials/coingecko.svg') %>"
                  alt="Coingecko logo"
                  class="footer__social-icon"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="animated-scroll">
      <img
        src="<%= require('./images/animated-scroll.png') %>"
        alt="Scroll"
        class="animated-scroll__img"
      />
    </div>
  </body>
</html>
